<div class="form">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput name="username" required [disabled]="isFormReadOnly" [(ngModel)]="user.Username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput name="email" required [disabled]="isFormReadOnly" [(ngModel)]="user.Email">
  </mat-form-field>
  <app-users-address-form [(model)]="user && user.DeliveryAddress" [isFormReadOnly]="isFormReadOnly"></app-users-address-form>
</div>
