<mat-card>
  <mat-card-content>
    <div class="buttons">
      <button mat-button title="Save" (click)="save()">Save</button>
    </div>

    <app-users-form [action]="action" [user]="user"></app-users-form>
  </mat-card-content>
</mat-card>
