nav {
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;

  a {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 0 10px;

    span {
      position: relative;
      display: inline;
      transition: ease 1s text-decoration;

      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: transform .25s;
        background-color: #fff;

        transform: scaleX(0);
        transform-origin: right center;
      }
    }

    &:hover {
      span:after {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
  }
}
