<header>
  <mat-toolbar color="primary">
    <nav>
        <a [routerLink]="['/users']" routerLinkActive="router-link-active">
          <span>
            <fa-icon [icon]="icons.faUsers" ></fa-icon>
            Users
          </span>
        </a>
        <a [routerLink]="['/users']" routerLinkActive="router-link-active">
          <span>
            <fa-icon [icon]="icons.faTicketAlt" ></fa-icon>
            Menu 2
          </span>
        </a>
    </nav>
  </mat-toolbar>
</header>
