<mat-card>
  <mat-card-content>
    <div class="buttons">
      <button mat-button title="Create" (click)="create()">Create</button>
    </div>

    <app-users-form [action]="action" [user]="user"></app-users-form>
  </mat-card-content>
</mat-card>
