<h2 mat-dialog-title>{{data.Title}}</h2>
<mat-dialog-content>{{data.Content}}</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" [color]="data.ButtonColor">{{data.ButtonText}}</button>
</mat-dialog-actions>
