<mat-card>
  <mat-card-content>
    <div class="buttons">
      <button mat-button title="Update user" (click)="edit()">Edit</button>
      <button mat-button title="Delete user" color="warn" (click)="delete()">Delete</button>
    </div>

    <app-users-form *ngIf="user" [action]="action" [user]="user"></app-users-form>
  </mat-card-content>
</mat-card>
