.mat-column-select {
  overflow: initial;
}

.mat-column-Id, .mat-column-Select {
  flex-grow: 0.2;
}

.mat-column-Actions {
  flex-grow: 0.6;
}

.mat-row:nth-child(2) {
  background-color: #0000000A;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.mat-cell {
  flex-wrap: wrap;
}
