<mat-card>
<mat-card-content>
<div class="users-grid">
  <div class="header">
    <h1>list</h1>
    <div class="header-buttons">
      <!-- TODO: links -->
      <button mat-button title="Create user" (click)="create()">Create</button>
      <button mat-button title="Delete selected users" color="warn" [disabled]="selection.isEmpty()" (click)="deleteUsers(selection.selected)">Delete</button>
    </div>
  </div>

  <mat-table #table [dataSource]="users" matSort>
    <ng-container matColumnDef="Select">
      <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="mat-column-checkbox">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [color]="'primary'">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a [routerLink]="'/users/'+row.Id" class="hyperlink">{{ row.Id }}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.Email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a [routerLink]="'/users/'+row.Id" class="hyperlink">{{ row.Username }}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.DeliveryAddress">[{{row.DeliveryAddress.Country.ShortName}}] {{row.DeliveryAddress.City}},
          {{row.DeliveryAddress.Line1}}, {{row.DeliveryAddress.Zipcode}}</span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button title="View full user info" (click)="view(row.Id)">View</button>
        <button mat-button title="Edit user" (click)="edit(row.Id)">Edit</button>
        <button mat-button title="Delete user" color="warn" (click)="deleteUsers([row])">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div *ngIf="users.length === 0">
    No Users
  </div>
</div>
</mat-card-content>
</mat-card>
