<mat-form-field>
  <mat-label>Country</mat-label>
  <input matInput name="country" required [disabled]="isFormReadOnly" [(ngModel)]="model.Country.Name">
</mat-form-field>
<!-- dropdown -->
<mat-form-field>
  <mat-label>Line 1</mat-label>
  <input matInput name="line1" required [disabled]="isFormReadOnly" [(ngModel)]="model.Line1">
</mat-form-field>
<mat-form-field>
  <mat-label>Line 2</mat-label>
  <input matInput name="line2" [disabled]="isFormReadOnly" [(ngModel)]="model.Line2">
</mat-form-field>
<mat-form-field>
  <mat-label>City</mat-label>
  <input matInput name="city" required [disabled]="isFormReadOnly" [(ngModel)]="model.City">
</mat-form-field>
<mat-form-field>
  <mat-label>Zipcode</mat-label>
  <input matInput name="zipcode" required [disabled]="isFormReadOnly" [(ngModel)]="model.Zipcode">
</mat-form-field>
